
// Widget
.widget{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  

  // left

  .left {
    width: 20%;

    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .counter {
    font-size: 28px;
    font-weight: 300;
  }
  .title {
    font-weight: bold;
    font-size: 14px;
    color: rgb(160, 160, 160);
  }
}