.form {

    display:flex;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    flex-direction:column; 
    gap:20px;
    align-items:center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input{
    width:80%;
    height:40px;
    font-size:larger;
    border: 1px solid rgb(203, 193, 193);
    border-radius: 15%;
    padding: 10px;
    margin-top: 10px;
}
.button{
    width:20%;
    height:35px;
    background-color: beige;
    border: 1px solid rgb(203, 193, 193);
    border-radius: 15%;
    margin-bottom: 10px;
}