* {
    margin: 0;
    padding: 0;
}

// main
.main {
    margin: auto;
    height: auto;
    width: 90%;

    // up part
    .up-img {
        margin-top: 20px;
        //1 img
        img {
            width: 100%;
        }
    }

    .up-img2 {
        margin-top: 35px;

        //2 img
        img {
            width: 100%;
        }
    }

    .up-img3-main {
        display: grid;
        grid-template-columns: repeat(3,1fr);

        .up-img3-first {

            img {
                width: 100%;
            }
        }

        .up-img3-second {
            img {
                width: 100%;
            }
        }
    }

    .up-img5-main{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        
    }
    .img1{
        width:100%;
    }

    .up-img4-main {
        display: flex;
        margin-bottom: 35px;
        justify-content: space-around;

        .up-img4-first {
            img {
                width: 100%;
            }
        }

        .up-img4-second {
            img {
                width: 100%;
            }
        }
    }
    .bottom-images {
        display: grid;
        padding-top: 35px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    
        .single-bottom-image{
            width: 100%;
            height: auto;
        }
    }

    .botton-last-img{

        display: grid;
        padding-top: 35px;
        grid-template-columns: repeat(4,1fr);

    .bottom-last-single-img{
        width: 100%;
        height: auto;
    }
    }

    .up-img6-main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .up-img7-main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}



// Media Querry-------------------


// mid 
@media only screen and (min-width: 700px) and (max-width: 1000px){
    .main {
        margin: auto;
        height: auto;
        width: 90%;

        // up part
        .up-img {
            margin-top: 20px;
            //1 img
            img {
                width: 100%;
            }
        }

        .up-img2 {
            margin-top: 35px;

            //2 img
            img {
                width: 100%;
            }
        }

        .up-img3-main {
            display: grid;
            margin-top: 10px;
            grid-template-columns: repeat(3,1fr);

            .up-img3-first {

                img {
                    width: 100%;
                }
            }

            .up-img3-second {
                img {
                    width: 100%;
                }
            }
        }

        .up-img5-main{
            display: grid;
            margin-top: 10px;
            grid-template-columns: repeat(3,1fr);
           gap:2%
        }
        .up-img5-main>div{
            width:100%;
        }


        .up-img5-main>div>img{
            width:100%
        }

        .up-img4-main {
            display: flex;
            margin-top: 50px;
            justify-content: space-around;

            .up-img4-first {

                img {
                    width: 100%;
                }
            }

            .up-img4-second {
                img {
                    width: 100%;
                }
            }
        }
        .bottom-images {
            display: grid;
            padding-top: 35px;
            margin-top: 10px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            margin: auto;

            .single-bottom-image{
                width: 100%;
                margin-top: 50px;
                height: auto;
            }
        }
        
    .botton-last-img{

        display: grid;
        padding-top: 35px;
        margin-top: 10px;
        grid-template-columns: repeat(2,1fr);
        
    .bottom-last-single-img{
        width: 100%;
        height: auto;
    }
    }
    .up-img6-main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .up-img7-main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    }
}

//Small Screen

@media only screen and  (max-width: 699px) {
    .main {
        margin: auto;
        height: auto;
        width: 90%;

        // up part
        .up-img {
            margin-top: 20px;
            //1 img
            img {
                width: 100%;
            }
        }

        .up-img2 {
            margin-top: 35px;

            //2 img
            img {
                width: 100%;
            }
        }

        .up-img3-main {
            display: grid;
            grid-template-columns: repeat(3,1fr);

            .up-img3-first {

                img {
                    width: 100%;
                }
            }

            .up-img3-second {
                img {
                    width: 100%;
                }
            }
        }
        .up-img5-main{
            display: grid;
            padding-top: 10px;
            grid-template-columns: repeat(2,1fr);
gap:2%;
       
        }
        .up-img5-main>div{
            width:100%;
        }


        .up-img5-main>div>img{
            width:100%
        }
        .up-img4-main {
            display: flex;
            margin-top: 50px;
            justify-content: space-around;

            .up-img4-first {

                img {
                    width: 100%;
                }
            }

            .up-img4-second {
                img {
                    width: 100%;
                }
            }
        }

        .bottom-images {
            display: grid;
            padding-top: 35px;
            margin-top: 10px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            margin: auto;

            .single-bottom-image{
                width: 100%;
                margin-top: 50px;
                height: auto;
            }
        }

        
    .botton-last-img{

        display: grid;
        padding-top: 35px;
        margin-top: 10px;
        grid-template-columns: repeat(2,1fr);
        
    .bottom-last-single-img{
        width: 100%;
        height: auto;
    }
    }
    .up-img6-main{
        display: grid;
        margin-top: 50px;
        grid-template-columns: repeat(1,1fr);
    }
    .up-img6-first{
        margin-bottom: 33px;
    }
    .up-img7-main{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    }
}

