/* chart css */
.chat {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
  
  }
  
  /* msg */
  .message {
    max-width: 80%;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
   .message-user {
    align-self: flex-end;
    background-color: yellowgreen;
    color: white;
    position: relative;
    text-align: right;
  }
  
  .message-user::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid yellowgreen;
    border-right: 10px solid transparent;
    border-top: 10px solid yellowgreen;
    border-bottom: 10px solid transparent;
    right: -19px;
    
    top: 6px;
  }
  
  
  
  
  .message-assistant {
    align-self: flex-start;
    background-color: pink;
    margin-top: 2%;
    color: #333;
    text-align: left;
    position: relative;
  }
  
   .message-assistant::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #f2f2f2;
    border-top: 10px solid #f2f2f2;
    border-bottom: 10px solid transparent;
    left: -19px;
    top: 6px;
  }
  
   .message .message-content {
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
  }