/* ::-webkit-scrollbar{
    width:1.2rem;
   
}

::-webkit-scrollbar-track{
    background:rgb(228, 247, 255);
    border-radius:100vw;
    margin-block: .5rem;
    
}

::-webkit-scrollbar-track{
    background:rgb(228, 247, 255);
  
    border-radius: 100vw;
  

}
 
::-webkit-scrollbar-thumb{
    background:rgb(48, 76, 175);
    border-radius: 100vw;
} */